html
{
	overflow: hidden;
	height: 100%;
}

body
{
	font-family: 'Droid Serif', 'Georgia', serif;
	overflow-y: scroll;
	padding-bottom: 40px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	min-width: 800px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

section
{
	max-width: 600px;
	height: 100%;
	margin: auto;
}

/* Styling all the text-like inputs (text, email, number, etc.) */
input:not([type=submit]):not([type=file])
{
	border: 5px solid #111;
	font-family: 'Droid Serif', 'Georgia', serif; 
	font-size: 22px;
	padding: 15px;
}

h1
{
	font-weight: bold;
	font-size: 38px;
}

a
{
	color: #a3de00;
}

#editor
{
	line-height: 1.3em;
	min-height: 90%;
	font-size: 22px;
	outline: none;
}

.normal
{
	background: #fafafa;
	color: #111;
}

.inverse
{
	background-color: #111;
	color: #fafafa;
}