html
{
	overflow: hidden;
}

html, body
{
	padding: 0px;
	margin: 0px;
	height: 100%;
}

body
{
	font-family: 'Droid Serif', 'Georgia', serif;
	overflow-y: scroll;
	padding-bottom: 40px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	min-width: 800px;
	width: 100%;
}

section
{
	max-width: 600px;
	height: 100%;
	margin: auto;
}

h1
{
	font-weight: bold;
	font-size: 38px;
}

section :not(h1)
{
	padding-bottom: 50px;
	line-height: 1.30em;
	min-height: 90%;
	font-size: 22px;
}

.normal
{
	background: #fafafa;
	color: #111;
}

.inverse
{
	background-color: #111;
	color: #fafafa;
}